<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-nouislider by vasyabigi</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">

    <link rel="stylesheet" href="bower_components/nouislider/jquery.nouislider.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body ng-app="example">
    <div class="wrapper">
      <header>
        <h1>Angular-nouislider</h1>
        <p>Simple angular directive for jquery nouislider plugin</p>

        <p class="view"><a href="https://github.com/vasyabigi/angular-nouislider">View the Project on GitHub <small>vasyabigi/angular-nouislider</small></a></p>


        <ul>
          <li><a href="https://github.com/vasyabigi/angular-nouislider/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/vasyabigi/angular-nouislider/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/vasyabigi/angular-nouislider">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>Example:</h3>

        <h4 ng-init="test.first = 5">Slider:</h4>
        <div slider ng-model="test.first" start=1 end=10></div>
        <p>Binded data: <span ng-bind="test.first"></span></p>
        <p>Data: <input type="number" ng-model="test.first"></p>

        <h4 ng-init="test.from = 5; test.to = 40">Range: (step = 5)</h4>
        <div slider ng-from="test.from" ng-to="test.to" start=0 end=100 step=5></div>
        <p>Binded data: from - <span ng-bind="test.from"></span>, to - <span ng-bind="test.to"></span></p>
        <p>From: <input type="number" ng-model="test.from">, To: <input type="number" ng-model="test.to"></p>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/vasyabigi">vasyabigi</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/nouislider/jquery.nouislider.js"></script>
    <script src="bower_components/angular-nouislider/src/nouislider.js"></script>

    <script>
      angular.module('example', ['nouislider']);
    </script>
  </body>
</html>
