<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-nouislider by vasyabigi</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">

    <link rel="stylesheet" href="bower_components/nouislider/jquery.nouislider.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body ng-app="example">
    <div class="wrapper">
      <header>
        <h1>Angular-nouislider</h1>
        <p>Simple angular directive for jquery <a href="http://refreshless.com/nouislider/" target="_blank">nouislider</a> plugin</p>

        <p class="view"><a href="https://github.com/vasyabigi/angular-nouislider">View the Project on GitHub <small>vasyabigi/angular-nouislider</small></a></p>

        <ul>
          <li><a href="https://github.com/vasyabigi/angular-nouislider/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/vasyabigi/angular-nouislider/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/vasyabigi/angular-nouislider">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>Example:</h3>

        <h4 ng-init="test.first = 5">Slider:</h4>
        <div slider ng-model="test.first" start=1 end=10></div>
        <p>Binded data: <span ng-bind="test.first"></span></p>
        <p>Data: <input type="number" ng-model="test.first"></p>

        <h4 ng-init="test.from = 5; test.to = 40">Range: (step = 5)</h4>
        <div slider ng-from="test.from" ng-to="test.to" start=0 end=100 step=5></div>
        <p>Binded data: from - <span ng-bind="test.from"></span>, to - <span ng-bind="test.to"></span></p>
        <p>From: <input type="number" ng-model="test.from">, To: <input type="number" ng-model="test.to"></p>

        <h3><a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>Usage:</h3>

<ul>
<li>Install: <code>bower install angular-nouislider</code>
</li>
<li>Add <code>jquery</code>, <code>angular</code>, <code>nouislider</code> and <code>angular-nouislider</code> to your code:</li>
</ul><div class="highlight highlight-html"><pre><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"bower_components/nouislider/jquery.nouislider.css"</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"bower_components/jquery/jquery.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"bower_components/angular/angular.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"bower_components/nouislider/jquery.nouislider.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"bower_components/nouislider/Link.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"bower_components/angular-nouislider/src/nouislider.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
</pre></div>

<ul>
<li>Add a dependency to the <code>nouislider</code> module in your application.</li>
</ul><div class="highlight highlight-js"><pre><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'MyApp'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'nouislider'</span><span class="p">]);</span>
</pre></div>

<ul>
<li>Add a <code>slider</code> attribute to your <code>&lt;div&gt;</code> tag:</li>
</ul><div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">slider</span> <span class="na">ng-model=</span><span class="s">"test.single"</span> <span class="na">start=</span><span class="s">1</span> <span class="na">end=</span><span class="s">10</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">slider</span> <span class="na">ng-from=</span><span class="s">"test.from"</span> <span class="na">ng-to=</span><span class="s">"test.to"</span> <span class="na">start=</span><span class="s">0</span> <span class="na">end=</span><span class="s">100</span> <span class="na">step=</span><span class="s">5</span><span class="nt">&gt;&lt;/div&gt;</span>
</pre></div>

        <p>That's it!</p>

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/vasyabigi">vasyabigi</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/nouislider/jquery.nouislider.js"></script>
    <script src="bower_components/angular-nouislider/src/nouislider.js"></script>
    <script>
      angular.module('example', ['nouislider']);
    </script>

    <!-- GA -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41023840-2', 'vasyabigi.github.io');
      ga('send', 'pageview');

    </script>
  </body>
</html>
