<div>
  <h3>Simple angular directive for <a target="_blank" href="http://refreshless.com/nouislider/">noUiSlider</a></h3>
  <h4 ng-init="test.first = 5">Slider example:</h4>
  <div slider callback='set' ng-model="test.first" start=1 end=10></div>
  <p>Binded data: <span ng-bind="test.first"></span></p>
  <p>Data: <input type="number" ng-model="test.first"></p>

  <h4 ng-init="test.from = 5; test.to = 10">Range example:</h4>
  <div slider ng-from="test.from" ng-to="test.to" start=0 end=30 step=0.5 margin=3></div>
  <p>Binded data: from - <span ng-bind="test.from"></span>, to - <span ng-bind="test.to"></span></p>
  <p>From data: <input type="number" ng-model="test.from"></p>
  <p>To data: <input type="number" ng-model="test.to"></p>

  <h4 ng-init="test.live = 2">Live slider example:</h4>
  <div slider ng-model="test.live" start=1 end=10></div>
  <p>Binded data: <span ng-bind="test.live"></span></p>
  <p>Data: <input type="number" ng-model="test.live"></p>
</div>
